@page "/add-local-goverment-area"
@layout MainLayout
@inherits CascadingDropdownDemo.Pages.AddLocalGovermentAreaComponent

@using Radzen
@using Radzen.Blazor
@using CascadingDropdownDemo.Models.ConData
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@localgovermentarea" Visible="@(localgovermentarea != null)" TItem="CascadingDropdownDemo.Models.ConData.LocalGovermentArea" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Lga Name" Component="LgaName" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(localgovermentarea.LgaName)" Name="LgaName">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="LgaName" Text="LgaName is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="State" Component="StateID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getStatesResult" TextProperty="StateName" ValueProperty="StateID" Placeholder="Choose State" style="display: block; width: 100%" @bind-Value="@(localgovermentarea.StateID)" Name="StateID">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="StateID" Text="StateID is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
